body {
    background: #DBDBD9;
}
.barra {
    border: 10px;
    background-color:#F86225;
    display: flex;
    flex-direction: column;
}
.barra h1 {
    color: white;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 2px 0px #FA9368; 
    text-align: center;
}
.cerrar {
    margin-left: 93.5%;
    color: #dbdbd9;
    display: flex;
    padding: 10px;
}
.cerrar img {
    width: 70px;
    height: 50px;
}
.cerrar button {
    background-color: #DBDBD9;
    border-color: #DBDBD9;
    cursor: pointer;
}
.cerrar :hover {
    background-color: #CFCFCF;
}
.regresar {
    margin-right: 93.5%;
    margin-top: -4.5%;
    color: #dbdbd9;
}
.regresar img {
    width: 70px;
    height: 45px;
}
.regresar button {
    background-color: #DBDBD9;
    border-color: #DBDBD9;
    cursor: pointer;
}
.regresar :hover {
    background-color: #CFCFCF;
}
.entrada_codigo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
    margin-left: 3%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.entrada_codigo label {
    margin-right: 10px;
}
.entrada_codigo div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.entrada_codigo input:hover {
    box-shadow: 0 0 5px gray;
}
.entrada_codigo input:focus {
    box-shadow: 0 0 5px #3786da;
}
.entrada_codigo input {
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.entrada_codigo button {
    background-color: #F86225;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border-bottom-width: 10px solid #000;
    border-radius: 8px; 
    border-color: black;
    border-style: solid;
    border-width: 2px;  
    margin-left: 15%;
}
.entrada_codigo button:hover {
    background-color: #FFA271; 
}

.multiple{
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    margin-top: -10%;
    margin-left: 35%;
}

.csv {
    position: relative;
    margin-top: -100px;

}
.csv button{
    background-color: #F86225;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border-bottom-width: 10px solid #000;
    border-radius: 8px; 
    border-color: black;
    border-style: solid;
    border-width: 2px;  
    margin-left: 55%;   
    top: -10%;
}

.entrada_codigo_movimiento {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    height: 50%; 
    
}

.entrada_codigo_movimiento button {
    background-color: #F86225;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border-bottom-width: 10px solid #000;
    border-radius: 8px; 
    border-color: black;
    border-style: solid;
    border-width: 2px;  
    margin-left: 20px;

}
.entrada_codigo_movimiento input{
    justify-content: center; 
    align-items: center; 
    margin-left: 5px;
    
}

.csv_alterno{
    width: 50%; 
    height: 50%; 
    margin-left: 15%;
    margin-top: 5%;
    
}
.csv_alterno button{
    background-color: #F86225;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border-bottom-width: 10px solid #000;
    border-radius: 8px; 
    border-color: black;
    border-style: solid;
    border-width: 2px;  
    margin-left: 55%;   
    top: -10%;
}
